body {
    font-family: 'Montserrat';
    color: var(--primary-text-color);
    letter-spacing: 0.01em;
    line-height: 1;
    background-color: #1A1A1A;
    background-image: url(../img/section/about/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    color: inherit;
}

.link.active {
    color: var(--menu-active-color);
}

.link:active {
    color: var(--menu-active-color);
}

.link:hover {
    color: var(--menu-hover-color);
}

.logo {
    background-color: var(--button-back-color);
}

.logo:hover {
    background-color: var(--button-hover-color);
}

.blue-icon {
    background-color: var(--blue-back-color);
}

.yellow-icon {
    background-color: var(--yellow-back-color);
}

.orange-icon {
    background-color: var(--orange-back-color);
}

.green-icon {
    background-color: var(--green-back-color);
}