:root {
    // text color vars
    --primary-text-color: #F0F0F0;
    --accent-text-color: #E3D65A;
    --gray-text-color: #9D9D9D;
    --white-text-color: #FFFFFF;
    --menu-active-color: #3F68D2;
    --menu-hover-color: #497CFF;

    // background color vars
    --yellow-back-color: #E3D65A;
    --blue-back-color: #5A80E3;
    --orange-back-color: #F2994A;
    --green-back-color: #75A459;
    --button-back-color: #3F68D2;
    --button-hover-color: #497CFF;
}