.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 33.5px;
    }
}

.header__logo {
    width: 59px;
    height: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17.5px 0px;
}

.header__list {
    display: flex;
    gap: 61px;
}

.header__lang {
    display: flex;
    align-items: center;
    gap: 4.5px;
    padding: 11px 17px;
    background-color: transparent;
    border: 2px solid #3F68D2;
    border-radius: 10px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: capitalize;
    color: var(--white-text-color);
}