* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

button {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
}

input {
  outline: none;
  font-family: inherit;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-text-color: #F0F0F0;
  --accent-text-color: #E3D65A;
  --gray-text-color: #9D9D9D;
  --white-text-color: #FFFFFF;
  --menu-active-color: #3F68D2;
  --menu-hover-color: #497CFF;
  --yellow-back-color: #E3D65A;
  --blue-back-color: #5A80E3;
  --orange-back-color: #F2994A;
  --green-back-color: #75A459;
  --button-back-color: #3F68D2;
  --button-hover-color: #497CFF;
}

body {
  font-family: "Montserrat";
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
  line-height: 1;
  background-color: #1A1A1A;
  background-image: url(../img/section/about/bg-about.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  color: inherit;
  transition-property: color;
  transition-duration: 300ms;
}

.link.active {
  color: var(--menu-active-color);
}

.link:active {
  color: var(--menu-active-color);
}

.link:hover {
  color: var(--menu-hover-color);
}

.logo {
  background-color: var(--button-back-color);
}

.logo:hover {
  background-color: var(--button-hover-color);
}

.blue-icon {
  background-color: var(--blue-back-color);
}

.yellow-icon {
  background-color: var(--yellow-back-color);
}

.orange-icon {
  background-color: var(--orange-back-color);
}

.green-icon {
  background-color: var(--green-back-color);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 33.5px;
}

.header__logo {
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17.5px 0px;
  background-color: var(--button-back-color);
}

.header__list {
  display: flex;
  gap: 61px;
}

.header__lang {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 4.5px;
  padding: 11px 17px;
  background-color: transparent;
  border: 2px solid #3F68D2;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: capitalize;
  color: var(--white-text-color);
  transition-property: background-color;
  transition-duration: 300ms;
}

.header__lang:hover {
  background: rgba(63, 104, 210, 0.25);
}

.header__lang:hover .wrapper__lang {
  opacity: 1;
  transform: translate(0);
  visibility: visible;
}

.wrapper__lang {
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 0;
  width: 100%;
  background: #3F68D2;
  border: 2px solid #3F68D2;
  border-radius: 3px 3px 10px 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition-duration: 300ms;
  transform: translate(0, -10%);
  visibility: hidden;
  opacity: 0;
}

.wrapper {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
}

.wrapper__fixed {
  position: absolute;
  right: 51px;
  bottom: 140px;
}

.contact__scroll {
  position: fixed;
  padding: 0;
  z-index: 1000;
  bottom: 140px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3F68D2;
  border-radius: 12px;
  transition-property: background-color, opacity;
  transition-duration: 300ms;
  opacity: 0;
}

.contact__scroll:hover {
  background-color: var(--button-hover-color);
}

.hero {
  padding-top: 166.5px;
  padding-bottom: 289px;
}

.hero__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 16px;
}

.hero__desc {
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  max-width: 693px;
  margin: 0 auto;
}

.achiev {
  padding-top: 48px;
}

.achiev .container {
  padding-left: 137px;
  padding-right: 71px;
  background-image: url(../img/section/achiev/bg-achiev.svg);
  background-repeat: no-repeat;
  background-position: top 31px right 71px;
}

.achiev__title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 55px;
  font-weight: 600;
  font-size: 36px;
}

.achiev__list {
  display: flex;
  -moz-column-gap: 31px;
  column-gap: 31px;
  row-gap: 18px;
  flex-wrap: wrap;
  padding-right: 65px;
}

.achiev__item {
  width: calc(50% - 15.5px);
}

.achiev__item:nth-child(3n) {
  width: 100%;
}

.achiev__icons {
  display: flex;
  gap: 9px;
  align-items: center;
  margin-bottom: 15px;
}

.achiev__icon {
  padding: 10px;
  border-radius: 20px;
}

.achiev__icon_hand {
  display: flex;
  padding: 17.5px 6px;
  border-radius: 20px;
}

.achiev__subtitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.32;
  margin-bottom: 7px;
}

.achiev__desc {
  font-size: 14px;
  line-height: 1.71;
}

.advantage {
  padding-top: 121px;
  padding-bottom: 14px;
}

.advantage .container {
  position: relative;
  padding-left: 137px;
  padding-right: 134px;
}

.advantage__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.39;
  margin-bottom: 47px;
}

.advantage__title span {
  color: var(--accent-text-color);
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 80px;
  column-gap: 80px;
  row-gap: 47px;
  margin-bottom: 9px;
}

.advantage__item {
  width: calc(50% - 40px);
}

.advantage__wrap_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.advantage__subtitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.32;
  margin-bottom: 7px;
}

.advantage__desc {
  font-size: 14px;
  line-height: 1.71;
  max-width: 337px;
}

.advantage__button {
  display: flex;
  justify-content: flex-end;
}

.advantage__link {
  padding: 13px 19px;
  background-color: var(--button-back-color);
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  color: var(--white-text-color);
  transition-property: background-color;
  transition-duration: 300ms;
}

.advantage__link:hover {
  background-color: var(--button-hover-color);
}

.blue-shadow {
  position: absolute;
  top: 0;
  right: 181px;
  width: 253px;
  height: 253px;
  background-color: rgba(63, 104, 210, 0.16);
  -webkit-filter: blur(97.5px);
  filter: blur(97.5px);
}

.yellow-shadow {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 175px;
  height: 175px;
  background-color: rgba(227, 214, 90, 0.17);
  -webkit-filter: blur(97.5px);
  filter: blur(97.5px);
}

.goal .container {
  padding-top: 187px;
  padding-bottom: 199px;
  background-image: url(../img/section/goal/bg-goal.webp);
  background-repeat: no-repeat;
  background-position: left center;
}

.goal__title {
  margin-left: 611px;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.39;
}

.goal__desc {
  margin-left: 611px;
  max-width: 342px;
  font-size: 14px;
  line-height: 1.86;
}

.contact {
  padding-bottom: 79.5px;
}

.contact__title {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.39;
  margin-bottom: 9px;
}

.contact__desc {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  max-width: 688px;
  margin: 0 auto 50px auto;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 651px;
  margin: 0 auto;
}

.form__block {
  display: flex;
  align-items: center;
  gap: 17px;
}

.form__block_item {
  width: calc(50% - 8.5px);
}

.form__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__label span {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--gray-text-color);
  margin-left: 14px;
}

.form__input {
  background-color: transparent;
  border: 2px solid #232323;
  border-radius: 10px;
  padding: 10px 14px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  transition-property: border-color;
  transition-duration: 300ms;
}

.form__input:focus {
  border-color: var(--button-back-color);
}

.form__input_file {
  position: relative;
  height: 40px;
  visibility: hidden;
  cursor: pointer;
  padding: 10px 0 10px 0;
  background-color: var(--button-back-color);
  transition-property: background-color;
  transition-duration: 300ms;
}

.form__input_file:hover {
  background-color: var(--button-hover-color);
}

.form__input_file::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid #232323;
  border-radius: 10px;
  visibility: visible;
}

.form__input_file::after {
  content: "Прикріпити";
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  width: 110px;
  height: 30px;
  top: 5px;
  right: 5px;
  opacity: 1;
  visibility: visible;
  padding-left: 25px;
  display: flex;
  align-items: center;
  background-color: inherit;
  border-radius: 8px;
  background-image: url(../img/icons/clip.svg);
  background-repeat: no-repeat;
  background-position: top 9.5px left 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--white-text-color);
}

.js-form-block {
  position: relative;
}

.form__file_name {
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__file_block {
  position: absolute;
  top: 33px;
  left: 9px;
  display: flex;
  align-items: center;
}

.form__file_icon {
  box-sizing: content-box;
  position: relative;
  display: block;
  margin-top: 4px;
  z-index: 200;
  padding: 5px;
  cursor: pointer;
}

.form__text {
  box-sizing: border-box;
  height: 87px;
  resize: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid #232323;
  background-color: transparent;
  padding: 10px 14px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  transition-property: border-color;
  transition-duration: 300ms;
}

.form__text:focus {
  border-color: var(--button-back-color);
}

.form__submit {
  background: #3F68D2;
  border-radius: 8px;
  padding: 13px 0;
  width: 101px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--white-text-color);
  transition-property: background-color;
  transition-duration: 300ms;
}

.form__submit:hover {
  background-color: var(--button-hover-color);
}

.footer {
  padding-bottom: 59.5px;
}

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17.5px 0px;
  background-color: var(--button-back-color);
}

.footer__list {
  display: flex;
  gap: 61px;
}

.footer__copy {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-transform: capitalize;
}